* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: aqua;
    --card-bg: rgba(128, 128, 128, 0.233);
    --card-width: 8rem;
    --gap-size: 20px;
}

.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.f30 {
    font-size: 30px !important;
}

.f20 {
    font-size: 20px !important;
}

.color {

    color: black;
}

body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    overflow-x: hidden;

}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



header {

    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;






    & .portada {
        height: 100%;
        width: 100%;
        position: relative;

        & .imagen {
            border-radius: 0 0 10px 10px;
            height: 100%;
            width: 100%;
            position: absolute;

            & img {
                border-radius: 0 0 35px 35px;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        & .shortcuts {
            position: relative;
            height: 10%;
            width: 100%;
            display: flex;
            margin: auto;
            overflow: hidden;

            & a {
                color: white;
                text-shadow: 0 0 5px black;
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .buy {
                position: absolute;
                right: 5px;
            }

        }

        & .buscador {
            position: absolute;
            left: 5%;
            height: 40px;
            width: 90%;
            margin: auto;
            display: flex;
            background-color: rgba(255, 255, 255, 0.5);
            bottom: 200px;

            & .icono {
                background: transparent;
                border: none;
            }

            & .busqueda {
                background: transparent;
                border: none;
                width: 100%;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .datos {
            left: 10px;
            width: 100%;
            position: absolute;
            bottom: 30px;


            & .recomendacion {
                color: white;
                opacity: 0.5;

            }

            & h2 {
                color: white;
            }


            & .ofertas {
                display: flex;
                gap: 20px;

                & .descuento {
                    color: aqua;
                }

                & .precio_viejo {
                    color: gray;
                    text-decoration: line-through;
                }

                & p {
                    font-size: 20px;
                }
            }
        }
    }



}

.contenedor_portada {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    & .portada {
        height: 100%;
        width: 100%;
        position: relative;

        & .imagen {
            border-radius: 0 0 10px 10px;
            height: 100%;
            width: 100%;
            position: absolute;

            & img {
                border-radius: 0 0 35px 35px;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        & .shortcuts {
            position: relative;
            height: 10%;
            width: 100%;
            display: flex;
            margin: auto;
            overflow: hidden;

            & a {
                color: white;
                text-shadow: 0 0 5px black;
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .buy {
                position: absolute;
                right: 5px;
            }

        }

        & .buscador {
            position: absolute;
            left: 5%;
            height: 40px;
            width: 90%;
            margin: auto;
            display: flex;
            background-color: rgba(255, 255, 255, 0.5);
            bottom: 200px;

            & .icono {
                background: transparent;
                border: none;
            }

            & .busqueda {
                background: transparent;
                border: none;
                width: 100%;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .datos {
            left: 10px;
            width: 100%;
            position: absolute;
            bottom: 30px;


            & .recomendacion {
                color: white;
                opacity: 0.5;

            }

            & h2 {
                color: white;
            }


            & .ofertas {
                display: flex;
                gap: 20px;

                & .descuento {
                    color: aqua;
                }

                & .precio_viejo {
                    color: gray;
                    text-decoration: line-through;
                }

                & p {
                    font-size: 20px;
                }
            }
        }
    }

}

nav {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;


    gap: 10px;
    align-items: center;

    h1 {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
}

.contenedor {
    padding: 1rem;
    width: 100%;
    height: 10%;

    & article {
        width: 100%;
        height: 6rem;
        position: relative;

        & .imagen {
            position: absolute;
            width: 6rem;
            height: 100%;
            border-radius: 0.25rem;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        & .description {
            position: absolute;
            height: 6rem;
            width: calc(100% - 6rem);

            left: 120px;
        }
    }
}

main {
    height: 45%;
    width: 100%;

    & .datos {
        left: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        position: relative;

        & h1 {
            color: black;
        }


        & .ofertas {
            display: flex;
            align-items: center;
            gap: 14px;

            & .descuento {
                color: aqua;
            }

            & .precio_viejo {
                color: gray;
                text-decoration: line-through;
            }

            & p {
                font-size: 20px;
                top: 114px;
            }

            ;
            flex-direction: row;
        }

        & .description {
            width: 100%;
            height: 50%;

        }

    }

    .a {
        color: white;
    }


    & section {
        height: 100%;
        width: 100%;
        position: relative;


        .tendencias {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                position: absolute;
                right: 10px;
                color: aqua;
            }
        }

        & .article {
            height: 80%;
            width: 100%;

            overflow-x: scroll;
            display: flex;
            gap: 20px;
            padding-top: 10px;




            & .card {
                box-shadow: 0 0 15px rgb(red, rgb(95, 167, 95), blue);
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                flex: 0 0 8rem;


                & .cabecera {
                    height: 70%;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    align-items: center;

                    & img {
                        height: 80%;
                        width: 80%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                & .datos {
                    position: relative;
                    width: 100%;
                    height: 30%;

                    top: 10px;

                    & .descripciones {
                        width: 100%;
                        display: flex;
                        gap: 4px;

                        & .descuento {
                            font-size: 1rem;
                            font-weight: 700;
                            color: black;
                        }

                        & .precio_viejo {
                            color: black;
                            font-size: 0.8rem;
                            text-decoration: line-through;
                        }

                    }
                }

            }
        }
    }

    & .contenedor_talle {
        width: 100%;

        & .size {
            gap: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & h3 {
                color: #000000 !important;
            }

            & .contenedor_button {
                & button {
                    border: 0;
                    width: 20%;
                    height: 100%;

                    border-radius: 5px;
                }

                button:hover {
                    background-color: #007bff;
                    transform: scale(1.5);
                    top: -5px;
                    color: white;
                    cursor: pointer;
                }


                display: flex;

            }
        }
    }


    & .color-picker {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        & label {
            
            margin-bottom: 8px;
            font-size: 16px;
        }

        & .color-options {
            width: 50%;
            margin: auto;            
            padding: 1em;
            display: flex;
            gap: 10px;

            & .color-circle {
                width: 30px;
                box-shadow: 0 0 15px gray;
                height: 30px;
                border-radius: 50%;
                border: 2px solid transparent;
                cursor: pointer;
            }
        }

        .color-circle.white {
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
        }

        .color-circle.grey {
            background-color: #c0c0c0;
        }

        .color-circle.black {
            background-color: #000000;
        }

        .color-circle.blue {
            background-color: #007bff;
        }

        .color-circle.selected {
            border: 2px solid #007bff;
        }
    }
}






footer {

    width: 100%;

    & .color-picker {

        width: 100%;

        height: 20%;

        display: flex;

        flex-direction: column;

        align-items: flex-start;

        bottom: -5px;

        & label {
            position: absolute;

            margin-bottom: 8px;

            font-size: 16px;
        }

        & .color-options {

            padding-left: 50px;

            display: flex;

            gap: 10px;

            & .color-circle {

                width: 30px;

                height: 30px;

                border-radius: 50%;

                border: 2px solid transparent;

                cursor: pointer;
            }
        }

        .color-circle.white {

            background-color: #ffffff;

            border: 1px solid #e0e0e0;
        }

        .color-circle.grey {

            background-color: #c0c0c0;
        }

        .color-circle.black {

            background-color: #000000;
        }

        .color-circle.blue {

            background-color: #007bff;
        }

        .color-circle.selected {

            border: 2px solid #007bff;
        }
    }

    & .categorias {

        width: 100%;



        display: flex;



        justify-content: space-between;

        & p {
            position: absolute;

            right: 10px;

            color: aqua;
        }

    }

    & .woman {

        width: 100%;
        left: 5%;
        margin: auto;
        overflow: hidden;
        display: flex;
        background-color: rgba(255, 255, 255, 0.5);

        & .centrar {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }


    & .man {

        width: 100%;

        left: 5%;

        margin: auto;

        overflow: hidden;

        display: flex;

        background-color: rgba(255, 255, 255, 0.5);

        bottom: -40px;

        & .centrar {

            display: flex;

            justify-content: center;

            align-items: center;
        }

    }

    ;

    height: 20%;

    
}

.Add_to_Cart {
    height:40px;
    width: 100%;
    position: sticky;
    display: flex;
    bottom: 0;
    justify-content: center;

    & .Cart {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007bff;
        border-radius: 25px 25px;
        color: #000000;

    }
    & .check_out{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007bff;
        border-radius: 25px 25px;
        color: #000000
    }
}

::-webkit-scrollbar {
    height: 0;
}


.icono {
    width: 40px;
    color: white;
    display: grid;
    place-items: center;

}


@media (orientation=landscape) {



    header {
        background-color: red;

    }

    img {

        object-fit: contain;
    }

}